<div class="ext-nav">
	<%= link_to "mailto:huichenouyang@gmail.com", target: '_top' do %>
		<%= content_tag(:h3, "EMAIL") %>
	<% end %>
	<%= link_to "https://www.linkedin.com/in/huioy", target: '_bank' do %>
		<%= content_tag(:h3, "LINKEDIN") %>
	<% end %>
	<%= link_to "https://www.instagram.com/hui_oui", target: '_blank' do %>
		<%= content_tag(:h3, "INSTAGRAM") %>
	<% end %>
	<%= link_to "https://twitter.com/langhuige_arts", target: '_blank' do %>
		<%= content_tag(:h3, "TWITTER") %>
	<% end %>
	<%= link_to "http://hui-oy.tumblr.com", target: '_blank' do %>
		<%= content_tag(:h3, "TUMBLR") %>
	<% end %>
</div>