<header id="header">
	<section class="info-section">
		<div class="info-wrap">
			<div class="info-copy">
				<p>Hui Chen Ou Yang is a multidisciplinary designer based in New York. She has spent her life living in various cities: Surabaya, Indonesia; Taipei, Taiwan; San Francisco, U.S.A.; and now calls New York City her home. Previously Hui has worked at Apple, Small Stuff, afreeman, and her work has been recognized by the Type Directors Club and Art Director’s Club Chinese Young Guns. Currently, she is going through a lot of underground feminist comix, listening to occult podcasts, and making fish wontons from scratch.</p>
				<p class="give-thanks">development by <a href="christopherkemeza.com">christopher kemeza</a></p>
			</div>
			<div class="ext-nav">
				<%= link_to "mailto:huichenouyang@gmail.com?Subject=Hello%20There", target: '_top' do %>
					<%= content_tag(:h3, "EMAIL") %>
				<% end %>
				<%= link_to "https://www.linkedin.com/in/huioy", target: '_bank' do %>
					<%= content_tag(:h3, "LINKEDIN") %>
				<% end %>
				<%= link_to "https://www.instagram.com/hui_oui", target: '_blank' do %>
					<%= content_tag(:h3, "INSTAGRAM") %>
				<% end %>
				<%= link_to "https://twitter.com/langhuige_arts", target: '_blank' do %>
					<%= content_tag(:h3, "TWITTER") %>
				<% end %>
				<%= link_to "http://hui-oy.tumblr.com", target: '_blank' do %>
					<%= content_tag(:h3, "TUMBLR") %>
				<% end %>
			</div>
		</div>
	</section>

	<nav id="site-nav" class="site-nav">
		<div class="identity">
			<%= link_to root_path, id: "#random_link" do %>
				<%= content_tag(:h3, "HUI CHEN OU YANG", class: "site-title") %>
			<% end %>
		</div>

		<div class="nav-links">

			<% if user_signed_in? %>
			<!-- <strong><%#= current_user.email %></strong>. -->
			<%#= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
				<%= link_to destroy_user_session_path, method: :delete do %>
					<span id="sign-off-btn" class="nav-icon"></span>
					<h3 class="no-mobile">SIGN OUT</h3>
				<% end %>
			<%# else %>
			<%#= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
			<%#= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
			<% end %>


			<a id="blog" href="http://hui-oy.tumblr.com" target="_blank">
				<span id="blog-btn" class="nav-icon"></span>
				<h3>BLOG</h3>
			</a>
		
			<a id="info" href="#">
				<span id="info-btn" class="nav-icon info-btn"></span>
				<h3>INFO</h3>
			</a>
		</div>
	</nav>
</header>