<header id="header">
	<section class="info-section">
		<div class="info-wrap">
			<%= render 'shared/info-copy' %>
			<%= render 'shared/ext-nav' %>
		</div>
		<%= render 'shared/give-thanks' %>
	</section>

	<nav id="site-nav" class="site-nav">
		<%= render 'shared/logo' %>
		<%= render 'shared/site-nav' %>
	</nav>
</header>