<ul class="project-options list-std">
	<% if current_page?(controller: 'projects', action: "show") %>
		<li><%= link_to "Edit", edit_project_path( @project ) %></li>
		<li><%= link_to "Delete", @project, method: :delete, data: { confirm: "You sure about that?" } %></li>
		<li><%= link_to "New Project", new_project_path %></li>
		<li><%= link_to "Back Home", root_path %></li>
	<% elsif current_page?(controller: 'projects', action: "edit") %>
		<li><%= link_to "Delete", @project, method: :delete, data: { confirm: "You sure about that?" } %></li>
		<li><%= link_to "New Project", new_project_path %></li>
		<li><%= link_to "Back Home", root_path %></li>
	<% elsif current_page?(controller: 'projects', action: "new") %>
		<li><%= link_to "Back Home", root_path %></li>
	<% end %>
</ul>