<script type="text/javascript">
function startUp() {}
	var screenWidth = screen.width;
	console.log(screenWidth);
	if ( screenWidth < 1024) {
	   haveBeen();
	}
</script>

<main id="main-container" class="front-main-container">

	<div class="project-block">
		<div class="project-titles">
			<% if @top_projects
			<% @top_projects.each do |proj| %>
				
				<section class="project-wrap" data-cursor="<%= data_cursor_url(proj.cursor) %>">
					<%= link_to proj do %>
						<div class="project-box" data-position="#topBG" data-poster="<%= data_poster_url(proj.poster_image) %>">
							<h2 class="project-box-serif"><%= proj.try(:title) %></h2>
							<h2 class="project-box-sans"><%= proj.try(:tags) %></h2>
						</div>
					<% end %>
				</section>

			<% end %>

		</div>

		<div class="project-image image-pad top-pad">
			<div class="image">
				<div id="topBG" class="show-poster">
				</div>
			</div>
		</div>

	</div>


	<div class="project-block">


		<div class="project-image image-pad mid-pad">
			<div class="image">
				<div id="midBG" class="show-poster reverse"></div>
			</div>
		</div>

		<div class="project-titles">

			<% @mid_projects.each do |proj| %>
				
				<section class="project-wrap" data-cursor="<%= data_cursor_url(proj.cursor) %>">
					<%= link_to proj do %>
						<div class="project-box" data-position="#midBG" data-poster="<%= data_poster_url(proj.poster_image) %>">
							<h2 class="project-box-serif"><%#= proj.title %></h2>
							<h2 class="project-box-sans"><%#= proj.tags.upcase %></h2>
						</div>
					<% end %>
				</section>

			<% end %>

		</div>
	</div>


	
	<section class="project-wrap full-width-row" data-cursor="<%= data_cursor_url(@special_project.cursor) %>">
		<%= link_to @special_project do %>
			<div class="project-box" data-position="#midBG" data-poster="<%= data_poster_url( @special_project.poster_image ) %>">
				<h2 class="project-box-serif"><%#= @special_project.title %></h2>
				<h2 class="project-box-sans"><%#= @special_project.tags.upcase %></h2>
			</div>
		<% end %>
	</section>




	<div class="project-block last-project-block">	

		<div class="project-titles tall-project-wrap">
		
			<% @bottom_projects.each do |proj| %>
				<section class="project-wrap" data-cursor="<%= data_cursor_url(proj.cursor) %>">
					<%= link_to proj do %>
						<div class="project-box" data-position="#lowBG" data-poster="<%= data_poster_url(proj.poster_image) %>">
							<h2 class="project-box-serif"><%#= proj.title %></h2>
							<h2 class="project-box-sans"><%#= proj.tags.upcase %></h2>
						</div>
					<% end %>
				</section>

			<% end %>
	
		</div>

		<div class="project-image image-pad tall-project-image">
			<div class="image tall-image">
				<div id="lowBG" class="tall-show-poster"></div>
			</div>
		</div>

	</div>

</main>

