<!DOCTYPE html>
<html>
  <head>
    <title>HUI CHEN OU YANG</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.typekit.net/wyg2qvm.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  
    <!-- <script type="text/javascript">
    // ON MOBILE SCREEN SIZES SERVE PROJECT-PAGE
    var screenWidth = screen.width;

    if ( screenWidth < 1000) {
     document.location = <%#= url_for @prime_project %>;
    }
    </script> -->
  </head>

  <body>


    <!-- ALERTS FOR DEVISE -->
    <%# if notice %>
      <!-- <p class="alert alert-success"><%#= notice %></p> -->
    <%# end %>
    <%# if alert %>
      <!-- <p class="alert alert-danger"><%#= alert %></p> -->
    <%# end %>


    <%= render 'shared/header' %>
    <%= yield %>
  </body>
</html>
