<!DOCTYPE html>
<html>
  <head>
    <title>HUI OY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.typekit.net/wyg2qvm.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139124079-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-139124079-1');
    </script>
    
  </head>

  <body>


    <!-- ALERTS FOR DEVISE -->
    <%# if notice %>
      <!-- <p class="alert alert-success"><%#= notice %></p> -->
    <%# end %>
    <%# if alert %>
      <!-- <p class="alert alert-danger"><%#= alert %></p> -->
    <%# end %>


    <%= render 'shared/header' %>
    <%= yield %>
  </body>
</html>
