<!DOCTYPE html>
<html>
  <head>
    <title>HUI OY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.typekit.net/wyg2qvm.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>

    <meta property="og:url"                content="https:www.huioy.com" />
    <meta property="og:title"              content="HUI OY" />
    <meta property="og:description"        content="Hui OY is a multidisciplinary designer based in New York. She has spent her life living in various cities: Surabaya, Indonesia; Taipei, Taiwan; San Francisco, U.S.A.; and now calls New York City her home. Hui has worked at places such as Apple, 2×4, Siegel+Gale, and her work has been recognized by the Type Directors Club and Art Director’s Club Chinese Young Guns." />
    <meta property="og:image"              content="" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139124079-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-139124079-1');
    </script>
    
  </head>

  <body>


    <!-- ALERTS FOR DEVISE -->
    <%# if notice %>
      <!-- <p class="alert alert-success"><%#= notice %></p> -->
    <%# end %>
    <%# if alert %>
      <!-- <p class="alert alert-danger"><%#= alert %></p> -->
    <%# end %>


    <%= render 'shared/header' %>
    <%= yield %>
  </body>
</html>
